* {
    margin: 0%;
    padding: 0%;
    font-family: "Roboto", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


nav {
    background-color: rgb(30, 108, 242);
    color: white;
    padding: 10px;
    text-align: center;
}

.header {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.header a {
    text-decoration: none;
    color: rgb(37, 37, 37);
    margin: 20px;
}

body {
    background-color: rgb(241, 241, 241);
}

.container {
    width: 70%;
    background-color: rgb(255, 236, 226);
    margin: auto;
    padding: 4vmax 8vmax;
    min-height: 100vh;
}

.container>form {
    display: flex;
    flex-direction: column;
}

.container>h1 {
    text-align: center;
    margin: 30px;
    font-size: 2.5rem;
}

input,
textarea,
button {
    padding: 15px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.214);
    font-size: 1.2rem;
}

button {
    border: none;
    background-color: rgb(37, 37, 37);
    color: white;
    cursor: pointer;
}



.task {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    margin: 20px 0;
}

.task>div {
    width: 100%;
}

.task span {
    color: rgb(0, 0, 0.673);
}

.task button {
    border-radius: 100%;

    width: 30px;
    height: 30px;
    font-size: 1.6rem;
    background-color: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
}


.task button:hover {
    background-color: red;
}



.contact {
    background-color: crimson;
    width: 100%;
    height: 100vh;
}


.about {
    background-color: rgb(20, 130, 220);
    width: 100%;
    height: 100vh;
}



footer {
    background-color: rgb(30, 30, 30);
    height: 300px;

    color: white;
    text-align: center;
    padding: 20px;
}

.User {
    background-color: rgb(20, 220, 110);
    width: 100%;
    height: 100vh;
}